body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
}

.home, .auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-box, .auth-box {
  background: white;
  padding: 30px;
  width: 380px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 8px;
}

h1 {
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button, a {
  background: #0056b3;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

a {
  display: block;
  margin: 10px 0;
  padding: 10px;
}

button:hover, a:hover {
  background: #003f88;
}
