* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #222;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.navbar nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 14px;
}

.login-btn {
  background: #ffb347;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  
}
.register-link {
  color: #b9cb0f;
  margin-left: 15px;
  font-size: 14px;
  text-decoration: underline;
  opacity: 0.9;
}

.register-link:hover {
  opacity: 1;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("images/hero.jpg") center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero-overlay h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-overlay p {
  font-size: 16px;
  margin-bottom: 25px;
}

.hero-buttons .btn {
  padding: 12px 26px;
  margin: 0 8px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.primary {
  background: #ffb347;
  color: black;
}

.secondary {
  border: 2px solid white;
  color: white;
}

/* ABOUT */
.about {
  padding: 80px 10%;
  background: #f7f9fc;
}

.about-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 45%;
  border-radius: 10px;
}

/* SERVICES */
.services {
  padding: 80px 10%;
  text-align: center;
}

.services h2 {
  margin-bottom: 40px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* FOOTER */
.footer {
  background: #0b3c78;
  color: white;
  text-align: center;
  padding: 20px;
}
